<a href="https://colab.research.google.com/github/S10859051/bigdata/blob/main/0309.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a <- 5
b <- 3.8
c <- -1
str(a)
str(b)
str(c)

is.numeric(a)
is.numeric(b)
is.integer(a)
is.integer(b)

In [ ]:
d <- "Hello"
e <- "Hi"
str(d)
str(e)

In [ ]:
f <- c(5,4,3,2,1)
g <- c("蔡英文","賴清德","蘇貞倉")
f[2]
g[3]
g[c(1,2)]

In [7]:
h <- c(1,2,3,4,5,6,7,8,9)
i <- c(2,3,4,5,6,7,8,9,10)

h*i
h^3
i>5

[1]  2  6 12 20 30 42 56 72 90

[1]   1   8  27  64 125 216 343 512 729

[1] FALSE FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE  TRUE

In [10]:
gender <- c("男","女","男","男","女","中")
gender <- factor(gender)
gender 
levels(gender)

[1] 男 女 男 男 女 中
Levels: 中 女 男

[1] "中" "女" "男"

In [16]:
j <- matrix (c(1:6), nrow=3, ncol=2 )
j
k <- matrix (c(7:12), nrow=2, ncol=3 )
k

j[2,2]
j[2,]
j[,2]

     [,1] [,2]
[1,] 1    4
[2,] 2    5
[3,] 3    6

     [,1] [,2] [,3]
[1,] 7     9   11
[2,] 8    10   12

[1] 5

[1] 2 5

[1] 4 5 6

In [17]:
install.packages("SportsAnalytics")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [42]:
library(SportsAnalytics)

In [24]:
NBA1516 <- fetch_NBAPlayerStatistics("15-16")

In [ ]:
str(NBA1516)

In [ ]:
head(NBA1516)

In [ ]:
subset(NBA1516,Team=="LAC")

In [ ]:
NBA1516[grepl("Curry",NBA1516$Name),]

In [ ]:
subset(NBA1516,Position=="LAC")